#highscore {
  width: 20%;
  height: 100%;
  float: left;
}

#painter {
  width: 60%;
  height: 100%;
  float: left;
}

  #info {
    width: 100%;
    height: 10%;
  }

  #toolbox {
    width: 10%;
    height: 90%;
    float: left;
  }

  .tool {
    width: 100%;
    padding-top: 40%;
    padding-bottom: 40%;
  }

  #picture {
    float: left;
  }

  #tooloptions {
    width: 100%;
    height: 10%;
    float: left;
  }

#chat {
  width: 20%;
  height: 100%;
  float: right;
}

  #history {
    width: 100%;
    height: 97%;
  }
